<div class="w-screen h-screen bg-gray-50 sm:bg-gray-50 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <img
      class="absolute w-80 lg:w-96 left-0 bottom-0"
      src="/assets/svg/login-men.svg"
      alt=""
    />
    <img
      class="absolute w-80 lg:w-96 right-0 bottom-0"
      src="/assets/svg/login-women.svg"
      alt=""
    />
  </div>
  <div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src="/assets/Trello/Attribution/RGB/SVG/trello-logo-gradient-blue-attribution_rgb.svg"
        alt="trello-logo"
      />
    </header>
    <div class="bg-white rounded shadow py-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-8">
          {{ "log in to trello" | titlecase }}
        </h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input
              placeholder="enter email"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              type="email"
            />
          </div>
          <div class="relative">
            <input
              placeholder="enter password"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              type="password"
            />
          </div>
          <div class="relative">
            <app-btn [typeBtn]="'submit'" [bgColor]="'success'">
              {{ "log in" | titlecase }}
            </app-btn>
          </div>
          <hr />
          <div
            class="hidden sm:flex justify-center items-center space-x-0 space-y-0 md:space-x-2"
          >
            <a class="text-blue-300 font-light" href="#">{{
              "can not log in ?" | titlecase
            }}</a>
            <span class="text-gray-500 hidden md:block">•</span>
            <a class="text-blue-300 font-light" href="#">{{
              "sign up for an account" | titlecase
            }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="relative w-4/12 m-auto">
    <img
      class="mx-auto my-14"
      src="/assets/Atlassian/Atlassian Logo Horizontal/SVG/horizontal-logo-gradient-blue-atlassian.svg"
      alt="logo-attlasian"
    />
  </div>
</div>
